@font-face {
	font-family: 'IcoMoon';
	src: url('../fonts/IcoMoon.eot');
	src: url('../fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('../fonts/IcoMoon.woff') format('woff'),
		url('../fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
#foobla [data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}
#foobla [class^="icon-"],
#foobla [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
}
#foobla [class^="icon-"]:before,
#foobla [class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
#foobla .icon-home:before {
	content: "\21";
}
#foobla .icon-user:before {
	content: "\22";
}
#foobla .icon-checkedout:before,
#foobla .icon-lock:before,
#foobla .icon-locked:before {
	content: "\23";
}
#foobla .icon-comment:before,
#foobla .icon-comments:before {
	content: "\24";
}
#foobla .icon-comments-2:before {
	content: "\25";
}
#foobla .icon-share-alt:before,
#foobla .icon-out:before {
	content: "\26";
}
#foobla .icon-share:before,
#foobla .icon-redo:before {
	content: "\27";
}
#foobla .icon-undo:before {
	content: "\28";
}
#foobla .icon-file-add:before {
	content: "\29";
}
#foobla .icon-new:before,
#foobla .icon-plus:before {
	content: "\2a";
}
#foobla .icon-apply:before,
#foobla .icon-edit:before,
#foobla .icon-pencil:before {
	content: "\2b";
}
#foobla .icon-pencil-2:before {
	content: "\2c";
}
#foobla .icon-folder-open:before,
#foobla .icon-folder:before {
	content: "\2d";
}
#foobla .icon-folder-close:before,
#foobla .icon-folder-2:before {
	content: "\2e";
}
#foobla .icon-picture:before {
	content: "\2f";
}
#foobla .icon-pictures:before {
	content: "\30";
}
#foobla .icon-list:before,
#foobla .icon-list-view:before {
	content: "\31";
}
#foobla .icon-power-cord:before {
	content: "\32";
}
#foobla .icon-cube:before {
	content: "\33";
}
#foobla .icon-puzzle:before {
	content: "\34";
}
#foobla .icon-flag:before {
	content: "\35";
}
#foobla .icon-tools:before {
	content: "\36";
}
#foobla .icon-cogs:before {
	content: "\37";
}
#foobla .icon-options:before,
#foobla .icon-cog:before {
	content: "\38";
}
#foobla .icon-equalizer:before {
	content: "\39";
}
#foobla .icon-wrench:before {
	content: "\3a";
}
#foobla .icon-brush:before {
	content: "\3b";
}
#foobla .icon-eye-open:before,
#foobla .icon-eye:before {
	content: "\3c";
}
#foobla .icon-checkbox-unchecked:before {
	content: "\3d";
}
#foobla .icon-checkin:before,
#foobla .icon-checkbox:before {
	content: "\3e";
}
#foobla .icon-checkbox-partial:before {
	content: "\3f";
}
#foobla .icon-asterisk:before,
#foobla .icon-star-empty:before {
	content: "\40";
}
#foobla .icon-star-2:before {
	content: "\41";
}
#foobla .icon-featured:before,
#foobla .icon-star:before {
	content: "\42";
}
#foobla .icon-calendar:before {
	content: "\43";
}
#foobla .icon-calendar-2:before {
	content: "\44";
}
#foobla .icon-question-sign:before,
#foobla .icon-help:before {
	content: "\45";
}
#foobla .icon-support:before {
	content: "\46";
}
#foobla .icon-pending:before,
#foobla .icon-warning:before {
	content: "\48";
}
#foobla .icon-publish:before,
#foobla .icon-save:before,
#foobla .icon-ok:before,
#foobla .icon-checkmark:before {
	content: "\47";
}
#foobla .icon-unpublish:before,
#foobla .icon-cancel:before {
	content: "\4a";
}
#foobla .icon-eye-close:before,
#foobla .icon-minus:before {
	content: "\4b";
}
#foobla .icon-purge:before,
#foobla .icon-trash:before {
	content: "\4c";
}
#foobla .icon-envelope:before,
#foobla .icon-mail:before {
	content: "\4d";
}
#foobla .icon-mail-2:before {
	content: "\4e";
}
#foobla .icon-unarchive:before,
#foobla .icon-drawer:before {
	content: "\4f";
}
#foobla .icon-archive:before,
#foobla .icon-drawer-2:before {
	content: "\50";
}
#foobla .icon-box-add:before {
	content: "\51";
}
#foobla .icon-box-remove:before {
	content: "\52";
}
#foobla .icon-search:before {
	content: "\53";
}
#foobla .icon-filter:before {
	content: "\54";
}
#foobla .icon-camera:before {
	content: "\55";
}
#foobla .icon-play:before {
	content: "\56";
}
#foobla .icon-music:before {
	content: "\57";
}
#foobla .icon-grid-view:before {
	content: "\58";
}
#foobla .icon-grid-view-2:before {
	content: "\59";
}
#foobla .icon-menu:before {
	content: "\5a";
}
#foobla .icon-thumbs-up:before {
	content: "\5b";
}
#foobla .icon-thumbs-down:before {
	content: "\5c";
}
#foobla .icon-delete:before,
#foobla .icon-remove:before,
#foobla .icon-cancel-2:before {
	content: "\49";
}
#foobla .icon-save-new:before,
#foobla .icon-plus-2:before {
	content: "\5d";
}
#foobla .icon-ban-circle:before,
#foobla .icon-minus-sign:before,
#foobla .icon-minus-2:before {
	content: "\5e";
}
#foobla .icon-key:before {
	content: "\5f";
}
#foobla .icon-quote:before {
	content: "\60";
}
#foobla .icon-quote-2:before {
	content: "\61";
}
#foobla .icon-database:before {
	content: "\62";
}
#foobla .icon-location:before {
	content: "\63";
}
#foobla .icon-zoom-in:before {
	content: "\64";
}
#foobla .icon-zoom-out:before {
	content: "\65";
}
#foobla .icon-expand:before {
	content: "\66";
}
#foobla .icon-contract:before {
	content: "\67";
}
#foobla .icon-expand-2:before {
	content: "\68";
}
#foobla .icon-contract-2:before {
	content: "\69";
}
#foobla .icon-health:before {
	content: "\6a";
}
#foobla .icon-wand:before {
	content: "\6b";
}
#foobla .icon-unblock:before,
#foobla .icon-refresh:before {
	content: "\6c";
}
#foobla .icon-vcard:before {
	content: "\6d";
}
#foobla .icon-clock:before {
	content: "\6e";
}
#foobla .icon-compass:before {
	content: "\6f";
}
#foobla .icon-address:before {
	content: "\70";
}
#foobla .icon-feed:before {
	content: "\71";
}
#foobla .icon-flag-2:before {
	content: "\72";
}
#foobla .icon-pin:before {
	content: "\73";
}
#foobla .icon-lamp:before {
	content: "\74";
}
#foobla .icon-chart:before {
	content: "\75";
}
#foobla .icon-bars:before {
	content: "\76";
}
#foobla .icon-pie:before {
	content: "\77";
}
#foobla .icon-dashboard:before {
	content: "\78";
}
#foobla .icon-lightning:before {
	content: "\79";
}
#foobla .icon-move:before {
	content: "\7a";
}
#foobla .icon-next:before {
	content: "\7b";
}
#foobla .icon-previous:before {
	content: "\7c";
}
#foobla .icon-first:before {
	content: "\7d";
}
#foobla .icon-last:before {
	content: "\e000";
}
#foobla .icon-loop:before {
	content: "\e001";
}
#foobla .icon-shuffle:before {
	content: "\e002";
}
#foobla .icon-arrow-first:before {
	content: "\e003";
}
#foobla .icon-arrow-last:before {
	content: "\e004";
}
#foobla .icon-chevron-up:before,
#foobla .icon-uparrow:before,
#foobla .icon-arrow-up:before {
	content: "\e005";
}
#foobla .icon-chevron-right:before,
#foobla .icon-arrow-right:before {
	content: "\e006";
}
#foobla .icon-chevron-down:before,
#foobla .icon-downarrow:before,
#foobla .icon-arrow-down:before {
	content: "\e007";
}
#foobla .icon-chevron-left:before,
#foobla .icon-arrow-left:before {
	content: "\e008";
}
#foobla .icon-arrow-up-2:before {
	content: "\e009";
}
#foobla .icon-arrow-right-2:before {
	content: "\e00a";
}
#foobla .icon-download:before,
#foobla .icon-arrow-down-2:before {
	content: "\e00b";
}
#foobla .icon-arrow-left-2:before {
	content: "\e00c";
}
#foobla .icon-play-2:before {
	content: "\e00d";
}
#foobla .icon-menu-2:before {
	content: "\e00e";
}
#foobla .icon-arrow-up-3:before {
	content: "\e00f";
}
#foobla .icon-arrow-right-3:before {
	content: "\e010";
}
#foobla .icon-arrow-down-3:before {
	content: "\e011";
}
#foobla .icon-arrow-left-3:before {
	content: "\e012";
}
#foobla .icon-print:before,
#foobla .icon-printer:before {
	content: "\e013";
}
#foobla .icon-color-palette:before {
	content: "\e014";
}
#foobla .icon-camera-2:before {
	content: "\e015";
}
#foobla .icon-file:before {
	content: "\e016";
}
#foobla .icon-file-remove:before {
	content: "\e017";
}
#foobla .icon-save-copy:before,
#foobla .icon-copy:before {
	content: "\e018";
}
#foobla .icon-cart:before {
	content: "\e019";
}
#foobla .icon-basket:before {
	content: "\e01a";
}
#foobla .icon-broadcast:before {
	content: "\e01b";
}
#foobla .icon-screen:before {
	content: "\e01c";
}
#foobla .icon-tablet:before {
	content: "\e01d";
}
#foobla .icon-mobile:before {
	content: "\e01e";
}
#foobla .icon-users:before {
	content: "\e01f";
}
#foobla .icon-briefcase:before {
	content: "\e020";
}
#foobla .icon-download:before {
	content: "\e021";
}
#foobla .icon-upload:before {
	content: "\e022";
}
#foobla .icon-bookmark:before {
	content: "\e023";
}
#foobla .icon-out-2:before {
	content: "\e024";
}
/* Reset bootstrap icon */
#foobla .icon-star-empty,
#foobla .icon-out-2 {
	background-image: none;
}